{% extends 'base.html' %}

{% block content %}
<div class="reservaContainer">
    <h1>Reserva de Libro</h1>
    <div>
        <h2>{{ libro.title }}</h2>
        <p>Autor: {{ libro.author }}</p>
        <img src="{{ libro.cover }}" alt="Portada del libro">
        <p>{{ libro.description }}</p>
    </div>
    {%if reservado %}
    <div id="reservado">
        <p><b>Este libro ya ha sido reservado por otro usuario.</b></p>
    </div>
    {%else%}
    <form action="{{url_for('confirmarReserva')}}" method="post">
        <label for="startDate">Fecha de Inicio de Reserva:</label>
        <input type="date" id="startDate" name="startDate" value="{{ hoy }}" min="{{ hoy }}" max="{{hoy}}" required><br><br>
        <label for="endDate">Fecha de Fin de Reserva:</label>
        <input type="date" id="endDate" name="endDate" min="{{ manana }}" max="{{ limite }}" required><br><br>
        <input type="hidden" name="idLibro" value="{{ libro.id }}">
        <input type="submit" value="Confirmar Reserva">
    </form>
    {%endif%}
</div>
{% endblock %}