{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h1>Nuevo Tema</h1>

    <!-- Formulario para crear un nuevo tema -->

    <form method="post" action="/nuevo_tema">
        <!-- Campos del formulario para crear un nuevo tema -->
        <input type="text" name="nombre" placeholder="Nombre del tema" required>
        <button type="submit">Crear Tema</button>
    </form>

    <!-- Agrega el siguiente enlace para ir a la página de exploración de temas -->
    <a href="/explorar_temas">Explorar Temas</a>

</div>
{% endblock %}